<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847335854459-dcu96rn4hfiid89nerfij5vq8eql620d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847335854459-dcu96rn4hfiid89nerfij5vq8eql620d</string>
	<key>API_KEY</key>
	<string>AIzaSyAHIyGPo0qVwapwToM6QV3BJNBlWA7DFxs</string>
	<key>GCM_SENDER_ID</key>
	<string>847335854459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amr-mouusa.iConnect</string>
	<key>PROJECT_ID</key>
	<string>iconnect-3cfde</string>
	<key>STORAGE_BUCKET</key>
	<string>iconnect-3cfde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847335854459:ios:418aa09b6f5872765d6dde</string>
	<key>DATABASE_URL</key>
	<string>https://iconnect-3cfde.firebaseio.com</string>
</dict>
</plist>